.card-section {
  height: 100vh;
  max-height: fit-content;
  border: 1px solid red;
  margin: 1rem;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  height: auto; /* Adjust height automatically based on content */
  width: 10rem;
  border: 1px solid black;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden; /* Prevent content overflow */
}

.card h1 {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 0; /* Remove default margin */
}

.card p, .card h3 {
  margin: 0.5rem 0; /* Add some spacing between elements */
  overflow: hidden; /* Prevent content overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
}
select{
  height: 2rem;
  width: 8rem;
  margin: 2rem;
}